In [15]:
import numpy as np
import pandas as pd

from neighbourhood.utils.metrics import smape, wmape
from sklearn.metrics import mean_absolute_percentage_error as mape

In [16]:
y1 = np.array([1,1,1])
y2 = np.array([2,2,2])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  50.0
wmape:  100.0
mape:  1.0

In [40]:
d = {'y1': [1, 1, 1], 'y2': [2, 2, 2]}
df = pd.DataFrame(data=d)
print(df.columns)
df.head()

Index(['y1', 'y2'], dtype='object')

   y1  y2
0   1   2
1   1   2
2   1   2

In [46]:
type(df.loc[:,'y1'])

pandas.core.series.Series

In [48]:
print('smape: ', smape(df.loc[:,'y1'], df.loc[:,'y2']))
print('wmape: ', wmape(df.loc[:,'y1'], df.loc[:,'y2']))
print('mape: ', mape(df.loc[:,'y1'], df.loc[:,'y2']))

smape:  50.0
wmape:  100.0
mape:  1.0

In [49]:
y1 = np.array([3, -0.5, 2, 7])
y2 = np.array([2.5, 0.0, 2, 8])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  19.791666666666664
wmape:  16.0
mape:  0.3273809523809524

In [50]:
d = {'y1': [3, -0.5, 2, 7], 'y2': [2.5, 0.0, 2, 8]}
df = pd.DataFrame(data=d)
print(df.columns)
df.head()

Index(['y1', 'y2'], dtype='object')

    y1   y2
0  3.0  2.5
1 -0.5  0.0
2  2.0  2.0
3  7.0  8.0

In [51]:
print('smape: ', smape(df.loc[:,'y1'], df.loc[:,'y2']))
print('wmape: ', wmape(df.loc[:,'y1'], df.loc[:,'y2']))
print('mape: ', mape(df.loc[:,'y1'], df.loc[:,'y2']))

smape:  19.791666666666664
wmape:  16.0
mape:  0.3273809523809524