In [1]:
import numpy as np
import pandas as pd

from neighbourhood.utils.metrics import smape, wmape
from sklearn.metrics import mean_absolute_percentage_error as mape

In [2]:
y1 = np.array([1,1,1])
y2 = np.array([2,2,2])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  50.0
wmape:  100.0
mape:  1.0

In [3]:
d = {'y1': [1, 1, 1], 'y2': [2, 2, 2]}
df = pd.DataFrame(data=d)
print(df.columns)
df.head()

Index(['y1', 'y2'], dtype='object')

   y1  y2
0   1   2
1   1   2
2   1   2

In [4]:
type(df.loc[:,'y1'])

pandas.core.series.Series

In [5]:
print('smape: ', smape(df.loc[:,'y1'], df.loc[:,'y2']))
print('wmape: ', wmape(df.loc[:,'y1'], df.loc[:,'y2']))
print('mape: ', mape(df.loc[:,'y1'], df.loc[:,'y2']))

smape:  50.0
wmape:  100.0
mape:  1.0

In [6]:
y1 = np.array([3, -0.5, 2, 7])
y2 = np.array([2.5, 0.0, 2, 8])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  19.791666666666664
wmape:  16.0
mape:  0.3273809523809524

In [7]:
d = {'y1': [3, -0.5, 2, 7], 'y2': [2.5, 0.0, 2, 8]}
df = pd.DataFrame(data=d)
print(df.columns)
df.head()

Index(['y1', 'y2'], dtype='object')

    y1   y2
0  3.0  2.5
1 -0.5  0.0
2  2.0  2.0
3  7.0  8.0

In [8]:
print('smape: ', smape(df.loc[:,'y1'], df.loc[:,'y2']))
print('wmape: ', wmape(df.loc[:,'y1'], df.loc[:,'y2']))
print('mape: ', mape(df.loc[:,'y1'], df.loc[:,'y2']))

smape:  19.791666666666664
wmape:  16.0
mape:  0.3273809523809524

## проверка значений функций

In [9]:
y1 = np.array([1,1,1])
y2 = np.array([1,1,1])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  0.0
wmape:  0.0
mape:  0.0

In [10]:
y1 = np.array([0,0,0])
y2 = np.array([1,1,1])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  100.0
wmape:  300
mape:  4503599627370496.0

In [11]:
y1 = np.array([1,1,1])
y2 = np.array([0,0,0])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  100.0
wmape:  100.0
mape:  1.0

In [12]:
y1 = np.array([1,2,1])
y2 = np.array([1,1,1])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  16.666666666666668
wmape:  25.0
mape:  0.16666666666666666

In [13]:
y1 = np.array([1,1,1])
y2 = np.array([1,2,1])
print('smape: ', smape(y1,y2))
print('wmape: ', wmape(y1,y2))
print('mape: ', mape(y1,y2))

smape:  16.666666666666668
wmape:  33.333333333333336
mape:  0.3333333333333333