In [1]:
import pandas as pd
from neighbourhood.models.safety import safety_levels_for_one_crime_vs_city, safety_levels_for_one_crime_vs_last_year

Параметры, которые мне нужны для функции:
- population = число жителей в каждом районе и в городе в целом
- cdp = predictions + данные за последний год 
- data_pred = дата с которой был сделал прогноз,
- data_hist = дата начиная с которой мы берем исторические данные для осреднения,

In [2]:
# crimes_data_predictions cdp
cdp = pd.read_csv('../data/predictions/predictions.csv')
cdp["month"] = pd.to_datetime(cdp.month)
cdp["month"] = cdp["month"].to_numpy().astype("datetime64[M]")
cdp["month"] = pd.to_datetime(cdp.month)

In [3]:
cdp.head()

,borough,crime_type,crime_subtype,value,month
0,Lewisham,Miscellaneous Crimes Against Society,Possession of False Documents,0.0,2022-11-01
1,Lewisham,Miscellaneous Crimes Against Society,Profitting From or Concealing Proceeds of Crime,0.0,2022-11-01
2,Lewisham,Miscellaneous Crimes Against Society,Threat or Possession With Intent to Commit Cri...,9.0,2022-11-01
3,Lewisham,Possession of Weapons,Possession of Other Weapon,9.0,2022-11-01
4,Lewisham,Possession of Weapons,Possession of Article with Blade or Point,10.0,2022-11-01

In [6]:
population = pd.read_csv('../data/MPS/population_area.csv')
population.head()

      Date                  Area  Area (sq km)  Population
0  2010-03  Barking and Dagenham            36    177400.0
1  2010-03                Barnet            87    340300.0
2  2010-03                Bexley            61    227500.0
3  2010-03                 Brent            43    295300.0
4  2010-03               Bromley           150    303800.0

In [4]:
safety_levels_for_one_crime_vs_city()

Here

In [5]:
safety_levels_for_one_crime_vs_last_year()

Here2