In [5]:
pip install ydata-profiling

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ydata-profiling in /Users/yulia/Library/Python/3.9/lib/python/site-packages (4.5.1)
Requirement already satisfied: scipy<1.12,>=1.4.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (1.10.1)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (2.0.2)
Requirement already satisfied: matplotlib<4,>=3.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (3.7.2)
Requirement already satisfied: pydantic<2,>=1.8.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (1.10.12)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (3.1.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (1.23.5)
Requirement already satisfied: htmlmin==0.1.12 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (0.12.3)
Requirement already satisfied: requests<3,>=2.24.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (4.65.0)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (1.9.1)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (0.14.0)
Requirement already satisfied: typeguard<3,>=2.13.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (2.13.3)
Requirement already satisfied: imagehash==4.3.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: dacite>=1.8 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: PyWavelets in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from imagehash==4.3.1->ydata-profiling) (1.4.1)
Requirement already satisfied: pillow in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from imagehash==4.3.1->ydata-profiling) (10.0.0)
Requirement already satisfied: attrs>=19.3.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (0.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from matplotlib<4,>=3.2->ydata-profiling) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from matplotlib<4,>=3.2->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from matplotlib<4,>=3.2->ydata-profiling) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from matplotlib<4,>=3.2->ydata-profiling) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from matplotlib<4,>=3.2->ydata-profiling) (23.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from matplotlib<4,>=3.2->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from matplotlib<4,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from matplotlib<4,>=3.2->ydata-profiling) (6.0.1)
Requirement already satisfied: pytz>=2020.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.3.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from pydantic<2,>=1.8.1->ydata-profiling) (4.6.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2023.7.22)
Requirement already satisfied: patsy>=0.5.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: zipp>=3.1.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib<4,>=3.2->ydata-profiling) (3.15.0)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
!pip install --upgrade ipywidgets

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipywidgets in /Users/yulia/Library/Python/3.9/lib/python/site-packages (8.1.0)
Requirement already satisfied: comm>=0.1.3 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipywidgets) (0.1.3)
Requirement already satisfied: ipython>=6.1.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipywidgets) (8.14.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipywidgets) (5.9.0)
Requirement already satisfied: widgetsnbextension~=4.0.7 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipywidgets) (4.0.8)
Requirement already satisfied: jupyterlab-widgets~=3.0.7 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipywidgets) (3.0.8)
Requirement already satisfied: backcall in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (0.18.2)
Requirement already satisfied: matplotlib-inline in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: pickleshare in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (2.15.1)
Requirement already satisfied: stack-data in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.2)
Requirement already satisfied: typing-extensions in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (4.6.3)
Requirement already satisfied: pexpect>4.3 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (4.8.0)
Requirement already satisfied: appnope in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.2.1)
Requirement already satisfied: pure-eval in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.15.0)

In [7]:
!pip install --upgrade notebook

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: notebook in /Users/yulia/Library/Python/3.9/lib/python/site-packages (7.0.3)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from notebook) (2.7.3)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from notebook) (2.24.0)
Requirement already satisfied: jupyterlab<5,>=4.0.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from notebook) (4.0.5)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from notebook) (0.2.3)
Requirement already satisfied: tornado>=6.2.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from notebook) (6.3.2)
Requirement already satisfied: anyio>=3.1.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (4.0.0)
Requirement already satisfied: argon2-cffi in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (23.1.0)
Requirement already satisfied: jinja2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (3.1.2)
Requirement already satisfied: jupyter-client>=7.4.4 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (8.2.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.3.0)
Requirement already satisfied: jupyter-events>=0.6.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.7.0)
Requirement already satisfied: jupyter-server-terminals in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.4.4)
Requirement already satisfied: nbconvert>=6.4.4 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (7.8.0)
Requirement already satisfied: nbformat>=5.3.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.9.2)
Requirement already satisfied: overrides in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (7.4.0)
Requirement already satisfied: packaging in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (23.1)
Requirement already satisfied: prometheus-client in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.17.1)
Requirement already satisfied: pyzmq>=24 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (25.1.0)
Requirement already satisfied: send2trash>=1.8.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.17.1)
Requirement already satisfied: traitlets>=5.6.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.9.0)
Requirement already satisfied: websocket-client in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook) (1.6.2)
Requirement already satisfied: async-lru>=1.0.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab<5,>=4.0.2->notebook) (2.0.4)
Requirement already satisfied: importlib-metadata>=4.8.3 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab<5,>=4.0.2->notebook) (6.6.0)
Requirement already satisfied: ipykernel in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab<5,>=4.0.2->notebook) (6.23.1)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab<5,>=4.0.2->notebook) (2.2.0)
Requirement already satisfied: tomli in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab<5,>=4.0.2->notebook) (2.0.1)
Requirement already satisfied: babel>=2.10 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab-server<3,>=2.22.1->notebook) (2.12.1)
Requirement already satisfied: json5>=0.9.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab-server<3,>=2.22.1->notebook) (0.9.14)
Requirement already satisfied: jsonschema>=4.17.3 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab-server<3,>=2.22.1->notebook) (4.19.0)
Requirement already satisfied: requests>=2.28 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyterlab-server<3,>=2.22.1->notebook) (2.31.0)
Requirement already satisfied: idna>=2.8 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (3.4)
Requirement already satisfied: sniffio>=1.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (1.1.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from async-lru>=1.0.0->jupyterlab<5,>=4.0.2->notebook) (4.6.3)
Requirement already satisfied: zipp>=0.5 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from importlib-metadata>=4.8.3->jupyterlab<5,>=4.0.2->notebook) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jinja2->jupyter-server<3,>=2.4.0->notebook) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (0.10.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook) (3.5.3)
Requirement already satisfied: python-json-logger>=2.0.4 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook) (6.0.1)
Requirement already satisfied: rfc3339-validator in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook) (0.1.1)
Requirement already satisfied: beautifulsoup4 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (4.12.2)
Requirement already satisfied: bleach!=5.0.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (6.0.0)
Requirement already satisfied: defusedxml in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.2.2)
Requirement already satisfied: mistune<4,>=2.0.3 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (3.0.1)
Requirement already satisfied: nbclient>=0.5.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.15.1)
Requirement already satisfied: tinycss2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.2.1)
Requirement already satisfied: fastjsonschema in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->notebook) (2.18.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook) (3.2.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook) (2023.7.22)
Requirement already satisfied: ptyprocess in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from terminado>=0.8.3->jupyter-server<3,>=2.4.0->notebook) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from argon2-cffi->jupyter-server<3,>=2.4.0->notebook) (21.2.0)
Requirement already satisfied: appnope in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.1.3)
Requirement already satisfied: comm>=0.1.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.1.3)
Requirement already satisfied: debugpy>=1.6.5 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyterlab<5,>=4.0.2->notebook) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyterlab<5,>=4.0.2->notebook) (8.14.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.1.6)
Requirement already satisfied: nest-asyncio in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyterlab<5,>=4.0.2->notebook) (1.5.6)
Requirement already satisfied: psutil in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyterlab<5,>=4.0.2->notebook) (5.9.5)
Requirement already satisfied: six>=1.9.0 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from bleach!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.15.0)
Requirement already satisfied: webencodings in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from bleach!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.5.1)
Requirement already satisfied: backcall in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.2.0)
Requirement already satisfied: decorator in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.18.2)
Requirement already satisfied: pickleshare in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (3.0.38)
Requirement already satisfied: stack-data in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (4.8.0)
Requirement already satisfied: fqdn in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (1.5.1)
Requirement already satisfied: isoduration in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (2.4)
Requirement already satisfied: uri-template in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (1.3.0)
Requirement already satisfied: webcolors>=1.11 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (1.13)
Requirement already satisfied: cffi>=1.0.1 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.5)
Requirement already satisfied: pycparser in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook) (2.21)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.8.3)
Requirement already satisfied: wcwidth in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.2.6)
Requirement already satisfied: arrow>=0.15.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from isoduration->jsonschema>=4.17.3->jupyterlab-server<3,>=2.22.1->notebook) (1.2.3)
Requirement already satisfied: executing>=1.2.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (2.2.1)
Requirement already satisfied: pure-eval in /Users/yulia/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyterlab<5,>=4.0.2->notebook) (0.2.2)

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport

In [9]:
from ipywidgets import widgets
from IPython.display import display

In [10]:
df_dashboard = pd.read_csv("../data/MPS/MPS_MonthlyCrimeDashboard_OtherCrimeDatafy23-24_07.csv")
df_dashboard.head()

,Month_Year,Area Type,Borough_SNT,Area Name,Area Code,Crime Type,Crime Subtype,Measure,Financial Year,FY_FYIndex,Count
0,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Domestic Abuse,Domestic Abuse,Offences,fy23-24,fy23-24_07,3
1,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Domestic Abuse,Domestic Abuse,Outcomes,fy23-24,fy23-24_07,1
2,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Domestic Abuse,Domestic Abuse Incidents,Statistics,fy23-24,fy23-24_07,6
3,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Domestic Abuse,Domestic Abuse Violence with Injury,Offences,fy23-24,fy23-24_07,1
4,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Hate crime,Faith Crime,Outcomes,fy23-24,fy23-24_07,1

In [11]:
df_dashboard.nunique()

Month_Year          4
Area Type           2
Borough_SNT       745
Area Name         735
Area Code         762
Crime Type          5
Crime Subtype      26
Measure             3
Financial Year      1
FY_FYIndex          1
Count             574
dtype: int64

In [12]:
df_dashboard.select_dtypes(include= 'number')

       Count
0          3
1          1
2          6
3          1
4          1
...      ...
43442      3
43443      9
43444    107
43445      3
43446      1

[43447 rows x 1 columns]

In [13]:
df_borough = pd.read_csv('../data/MPS/MPS Borough Level Crime (Historical).csv')
df_borough.rename(columns={'MajorText': 'CrimeType', 'MinorText': 'CrimeSubtype', 'LookUp_BoroughName': 'BoroughName'}, inplace=True)
df_borough.head()

,CrimeType,CrimeSubtype,BoroughName,201004,201005,201006,201007,201008,201009,201010,...,202010,202011,202012,202101,202102,202103,202104,202105,202106,202107
0,Arson and Criminal Damage,Arson,Barking and Dagenham,6,5,11,10,6,6,13,...,7,4,2,4,6,4,6,6,5,4
1,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,208,193,227,220,204,163,199,...,120,100,110,100,104,80,99,128,141,130
2,Burglary,Burglary Business and Community,Barking and Dagenham,49,58,59,47,46,51,52,...,20,18,24,21,18,14,12,30,24,21
3,Burglary,Domestic Burglary,Barking and Dagenham,118,102,124,137,153,136,116,...,68,90,91,70,90,71,75,81,66,61
4,Drug Offences,Drug Trafficking,Barking and Dagenham,9,6,5,12,9,7,11,...,15,18,13,12,11,12,9,9,7,6

In [14]:
df_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1725 entries, 0 to 1724
Columns: 139 entries, CrimeType to 202107
dtypes: int64(136), object(3)
memory usage: 1.8+ MB

In [15]:
df_borough.isnull().sum()

CrimeType       0
CrimeSubtype    0
BoroughName     0
201004          0
201005          0
               ..
202103          0
202104          0
202105          0
202106          0
202107          0
Length: 139, dtype: int64

In [16]:
df_borough[df_borough['CrimeSubtype'].str.contains('Other Theft')]

,CrimeType,CrimeSubtype,BoroughName,201004,201005,201006,201007,201008,201009,201010,...,202010,202011,202012,202101,202102,202103,202104,202105,202106,202107
42,Theft,Other Theft,Barking and Dagenham,213,236,223,271,202,226,197,...,138,127,141,130,119,126,158,133,166,168
95,Theft,Other Theft,Barnet,297,304,332,320,291,335,342,...,221,235,228,166,142,181,216,221,269,221
145,Theft,Other Theft,Bexley,157,137,160,140,132,151,133,...,97,89,97,94,69,85,84,95,134,120
196,Theft,Other Theft,Brent,259,282,294,320,247,255,214,...,259,180,230,209,193,252,187,207,251,284
248,Theft,Other Theft,Bromley,265,334,299,311,312,295,304,...,143,129,148,119,147,131,138,158,169,181
300,Theft,Other Theft,Camden,729,695,617,666,676,656,756,...,407,223,261,160,147,184,196,279,406,391
353,Theft,Other Theft,Croydon,389,321,422,465,492,417,360,...,235,207,226,179,205,201,252,266,327,343
406,Theft,Other Theft,Ealing,368,422,412,443,368,322,387,...,271,210,191,188,167,211,222,244,276,222
460,Theft,Other Theft,Enfield,185,188,162,190,219,214,230,...,235,231,227,192,198,232,243,248,253,230
513,Theft,Other Theft,Greenwich,267,274,306,329,264,314,280,...,197,177,163,153,136,162,162,185,220,229
565,Theft,Other Theft,Hackney,316,369,368,360,311,349,414,...,262,180,191,176,182,174,206,231,264,293
617,Theft,Other Theft,Hammersmith and Fulham,289,295,273,270,248,276,336,...,225,130,182,118,119,141,186,228,243,260
671,Theft,Other Theft,Haringey,330,271,286,314,268,300,315,...,247,201,231,182,160,182,222,246,305,278
724,Theft,Other Theft,Harrow,138,180,157,188,162,140,142,...,117,109,108,97,77,115,94,115,142,155
775,Theft,Other Theft,Havering,194,211,201,207,169,219,239,...,146,117,115,72,97,114,121,110,130,182
827,Theft,Other Theft,Hillingdon,220,277,265,271,180,238,262,...,197,208,177,139,145,167,177,188,202,184
880,Theft,Other Theft,Hounslow,298,247,265,279,261,262,256,...,215,188,187,168,162,195,186,201,230,218
933,Theft,Other Theft,Islington,410,393,385,398,354,402,494,...,278,182,185,139,147,135,178,198,274,270
987,Theft,Other Theft,Kensington and Chelsea,431,420,408,462,373,443,546,...,302,148,217,108,86,140,164,197,262,298
1039,Theft,Other Theft,Kingston upon Thames,161,164,160,150,129,161,170,...,87,80,70,69,66,57,83,71,113,130
1092,Theft,Other Theft,Lambeth,434,402,463,495,438,502,444,...,267,211,227,209,215,197,278,289,351,355
1144,Theft,Other Theft,Lewisham,272,259,321,323,269,268,288,...,210,190,179,163,149,205,182,246,260,259
1191,Theft,Other Theft,London Heathrow and London City Airports,92,109,106,137,96,130,168,...,41,42,37,29,16,32,25,20,20,29
1242,Theft,Other Theft,Merton,179,152,208,182,144,145,145,...,93,98,87,67,72,84,102,95,123,110
1296,Theft,Other Theft,Newham,337,405,401,358,391,324,355,...,338,262,375,262,191,215,308,341,344,379
1348,Theft,Other Theft,Redbridge,302,249,339,297,245,265,269,...,205,184,173,166,163,175,181,171,259,248
1399,Theft,Other Theft,Richmond upon Thames,151,144,142,175,111,139,126,...,87,70,99,72,62,75,79,74,103,105
1452,Theft,Other Theft,Southwark,451,446,471,489,438,463,499,...,350,236,280,189,205,251,299,337,400,387
1505,Theft,Other Theft,Sutton,146,133,141,139,132,152,156,...,70,79,62,67,82,87,84,68,119,85
1557,Theft,Other Theft,Tower Hamlets,344,374,396,416,427,388,409,...,293,205,221,186,197,178,241,257,296,312
1610,Theft,Other Theft,Waltham Forest,275,336,297,335,296,401,324,...,185,185,173,174,159,153,185,199,213,247
1662,Theft,Other Theft,Wandsworth,327,290,321,370,278,342,321,...,230,189,210,162,162,196,197,243,258,243
1715,Theft,Other Theft,Westminster,1689,1616,1547,1807,1563,1632,1892,...,931,414,599,192,192,233,461,631,875,1113

In [17]:
df_borough.nunique()

CrimeType        12
CrimeSubtype     56
BoroughName      33
201004          253
201005          262
               ...
202103          230
202104          234
202105          239
202106          253
202107          253
Length: 139, dtype: int64

In [18]:
df_borough.columns

Index(['CrimeType', 'CrimeSubtype', 'BoroughName', '201004', '201005',
       '201006', '201007', '201008', '201009', '201010',
       ...
       '202010', '202011', '202012', '202101', '202102', '202103', '202104',
       '202105', '202106', '202107'],
      dtype='object', length=139)

In [19]:
long_df_all = pd.melt(df_borough, id_vars=['BoroughName', 'CrimeType', 'CrimeSubtype'], var_name='TimePeriod', value_name='Value')
long_df_all

,BoroughName,CrimeType,CrimeSubtype,TimePeriod,Value
0,Barking and Dagenham,Arson and Criminal Damage,Arson,201004,6
1,Barking and Dagenham,Arson and Criminal Damage,Criminal Damage,201004,208
2,Barking and Dagenham,Burglary,Burglary Business and Community,201004,49
3,Barking and Dagenham,Burglary,Domestic Burglary,201004,118
4,Barking and Dagenham,Drug Offences,Drug Trafficking,201004,9
...,...,...,...,...,...
234595,Westminster,Vehicle Offences,Theft from a Motor Vehicle,202107,218
234596,Westminster,Vehicle Offences,Theft or Taking of a Motor Vehicle,202107,56
234597,Westminster,Violence Against the Person,Homicide,202107,1
234598,Westminster,Violence Against the Person,Violence with Injury,202107,416
234599,Westminster,Violence Against the Person,Violence without Injury,202107,690

In [20]:
long_df_all.sort_values(by='Value', ascending=False).head(50)

        BoroughName CrimeType       CrimeSubtype TimePeriod  Value
201815  Westminster     Theft        Other Theft     201912   2265
188015  Westminster     Theft        Other Theft     201904   2165
36215   Westminster     Theft        Other Theft     201112   2111
189740  Westminster     Theft        Other Theft     201905   2102
191465  Westminster     Theft        Other Theft     201906   2046
41390   Westminster     Theft        Other Theft     201203   2000
193190  Westminster     Theft        Other Theft     201907   1985
198365  Westminster     Theft        Other Theft     201910   1982
200090  Westminster     Theft        Other Theft     201911   1978
186290  Westminster     Theft        Other Theft     201903   1962
27590   Westminster     Theft        Other Theft     201107   1948
196640  Westminster     Theft        Other Theft     201909   1903
12065   Westminster     Theft        Other Theft     201010   1892
181115  Westminster     Theft        Other Theft     201812   1876
25865   Westminster     Theft        Other Theft     201106   1874
194915  Westminster     Theft        Other Theft     201908   1871
34490   Westminster     Theft        Other Theft     201111   1871
184565  Westminster     Theft        Other Theft     201902   1853
182840  Westminster     Theft        Other Theft     201901   1845
205265  Westminster     Theft        Other Theft     202002   1844
37940   Westminster     Theft        Other Theft     201201   1843
15515   Westminster     Theft        Other Theft     201012   1812
32765   Westminster     Theft        Other Theft     201110   1808
6890    Westminster     Theft        Other Theft     201007   1807
13790   Westminster     Theft        Other Theft     201011   1798
186292  Westminster     Theft  Theft from Person     201903   1773
17240   Westminster     Theft        Other Theft     201101   1771
24140   Westminster     Theft        Other Theft     201105   1771
20690   Westminster     Theft        Other Theft     201103   1768
48290   Westminster     Theft        Other Theft     201207   1745
56915   Westminster     Theft        Other Theft     201212   1730
22415   Westminster     Theft        Other Theft     201104   1718
44840   Westminster     Theft        Other Theft     201205   1707
1715    Westminster     Theft        Other Theft     201004   1689
188017  Westminster     Theft  Theft from Person     201904   1659
46565   Westminster     Theft        Other Theft     201206   1642
18965   Westminster     Theft        Other Theft     201102   1633
10340   Westminster     Theft        Other Theft     201009   1632
29315   Westminster     Theft        Other Theft     201108   1632
50015   Westminster     Theft        Other Theft     201208   1623
55190   Westminster     Theft        Other Theft     201211   1620
3440    Westminster     Theft        Other Theft     201005   1616
179390  Westminster     Theft        Other Theft     201811   1613
58640   Westminster     Theft        Other Theft     201301   1597
53465   Westminster     Theft        Other Theft     201210   1592
39665   Westminster     Theft        Other Theft     201202   1578
62090   Westminster     Theft        Other Theft     201303   1569
8615    Westminster     Theft        Other Theft     201008   1563
184567  Westminster     Theft  Theft from Person     201902   1554
5165    Westminster     Theft        Other Theft     201006   1547

In [21]:
long_df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234600 entries, 0 to 234599
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   BoroughName   234600 non-null  object
 1   CrimeType     234600 non-null  object
 2   CrimeSubtype  234600 non-null  object
 3   TimePeriod    234600 non-null  object
 4   Value         234600 non-null  int64
dtypes: int64(1), object(4)
memory usage: 8.9+ MB

In [22]:
sorted_theft_df = long_df_all[long_df_all['CrimeType'] == 'Theft'].sort_values(by='Value', ascending=False)
sorted_antisocial_df

NameError: name 'sorted_antisocial_df' is not defined

In [ ]:
long_df_all['TimePeriod'] = pd.to_datetime(long_df_all['TimePeriod'], format='%Y%m')
long_df_all

,BoroughName,CrimeType,CrimeSubtype,TimePeriod,Value
0,Barking and Dagenham,Arson and Criminal Damage,Arson,2010-04-01,6
1,Barking and Dagenham,Arson and Criminal Damage,Criminal Damage,2010-04-01,208
2,Barking and Dagenham,Burglary,Burglary Business and Community,2010-04-01,49
3,Barking and Dagenham,Burglary,Domestic Burglary,2010-04-01,118
4,Barking and Dagenham,Drug Offences,Drug Trafficking,2010-04-01,9
...,...,...,...,...,...
234595,Westminster,Vehicle Offences,Theft from a Motor Vehicle,2021-07-01,218
234596,Westminster,Vehicle Offences,Theft or Taking of a Motor Vehicle,2021-07-01,56
234597,Westminster,Violence Against the Person,Homicide,2021-07-01,1
234598,Westminster,Violence Against the Person,Violence with Injury,2021-07-01,416
234599,Westminster,Violence Against the Person,Violence without Injury,2021-07-01,690

In [ ]:
agg_df_borough_2010 = df_borough.groupby(['BoroughName', 'CrimeSubtype'])[['201004', '201005', '201006', '201007', '201008', '201009', '201010', '201011', '201012']].sum()
agg_df_borough_2010.reset_index(inplace=True)
agg_df_borough_2010

,BoroughName,CrimeSubtype,201004,201005,201006,201007,201008,201009,201010,201011,201012
0,Barking and Dagenham,Absconding from Lawful Custody,0,0,0,0,0,0,0,0,0
1,Barking and Dagenham,Aggravated Vehicle Taking,1,1,2,1,3,2,0,1,0
2,Barking and Dagenham,Arson,6,5,11,10,6,6,13,13,14
3,Barking and Dagenham,Bail Offences,0,0,0,0,0,0,0,0,0
4,Barking and Dagenham,Bicycle Theft,13,19,36,41,42,24,18,16,10
...,...,...,...,...,...,...,...,...,...,...,...
1720,Westminster,Threat or Possession With Intent to Commit Cri...,0,2,0,3,1,5,1,0,1
1721,Westminster,Violence with Injury,271,283,289,328,288,270,319,287,279
1722,Westminster,Violence without Injury,295,322,356,346,312,316,297,280,264
1723,Westminster,Violent Disorder,2,0,1,0,1,0,1,22,36
1724,Westminster,Wildlife Crime,0,0,0,0,0,0,0,0,0

In [ ]:
agg_df_borough_2010.describe()

,201004,201005,201006,201007,201008,201009,201010,201011,201012
count,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000
mean,39.731014,40.697391,41.183188,41.926377,38.788986,39.284638,40.767536,39.843478,33.936232
std,86.700030,87.337174,87.050943,91.646399,84.988546,85.090627,90.977222,89.716225,79.700487
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000
75%,34.000000,35.000000,36.000000,37.000000,35.000000,36.000000,36.000000,32.000000,25.000000
max,1689.000000,1616.000000,1547.000000,1807.000000,1563.000000,1632.000000,1892.000000,1798.000000,1812.000000

In [ ]:
long_agg_df_2010 = pd.melt(agg_df_borough_2010, id_vars=['BoroughName', 'CrimeSubtype'], var_name='TimePeriod', value_name='Value')
print(long_agg_df_2010)

                BoroughName  \
0      Barking and Dagenham
1      Barking and Dagenham
2      Barking and Dagenham
3      Barking and Dagenham
4      Barking and Dagenham
...                     ...
15520           Westminster
15521           Westminster
15522           Westminster
15523           Westminster
15524           Westminster

                                            CrimeSubtype TimePeriod  Value
0                         Absconding from Lawful Custody     201004      0
1                              Aggravated Vehicle Taking     201004      1
2                                                  Arson     201004      6
3                                          Bail Offences     201004      0
4                                          Bicycle Theft     201004     13
...                                                  ...        ...    ...
15520  Threat or Possession With Intent to Commit Cri...     201012      1
15521                               Violence with Injury     201012    279
15522                            Violence without Injury     201012    264
15523                                   Violent Disorder     201012     36
15524                                     Wildlife Crime     201012      0

[15525 rows x 4 columns]

In [ ]:
long_agg_df_2010.sort_values(by="Value", ascending=False).head(50)

                  BoroughName         CrimeSubtype TimePeriod  Value
12050             Westminster          Other Theft     201010   1892
15500             Westminster          Other Theft     201012   1812
6875              Westminster          Other Theft     201007   1807
13775             Westminster          Other Theft     201011   1798
1700              Westminster          Other Theft     201004   1689
10325             Westminster          Other Theft     201009   1632
3425              Westminster          Other Theft     201005   1616
8600              Westminster          Other Theft     201008   1563
5150              Westminster          Other Theft     201006   1547
12360                  Camden          Other Theft     201011    920
10635                  Camden          Other Theft     201010    756
14085                  Camden          Other Theft     201012    730
285                    Camden          Other Theft     201004    729
8604              Westminster  Possession of Drugs     201008    715
2010                   Camden          Other Theft     201005    695
7185                   Camden          Other Theft     201008    676
5460                   Camden          Other Theft     201007    666
8910                   Camden          Other Theft     201009    656
6892              Westminster    Theft from Person     201007    633
10329             Westminster  Possession of Drugs     201009    627
3735                   Camden          Other Theft     201006    617
15517             Westminster    Theft from Person     201012    605
13792             Westminster    Theft from Person     201011    582
12067             Westminster    Theft from Person     201010    580
13152                 Lambeth          Other Theft     201011    554
11322  Kensington and Chelsea          Other Theft     201010    546
8617              Westminster    Theft from Person     201008    525
6879              Westminster  Possession of Drugs     201007    522
12054             Westminster  Possession of Drugs     201010    510
13047  Kensington and Chelsea          Other Theft     201011    506
9702                  Lambeth          Other Theft     201009    502
3429              Westminster  Possession of Drugs     201005    501
13512               Southwark          Other Theft     201011    501
3442              Westminster    Theft from Person     201005    501
5167              Westminster    Theft from Person     201006    499
11787               Southwark          Other Theft     201010    499
8446            Tower Hamlets  Possession of Drugs     201008    496
6252                  Lambeth          Other Theft     201007    495
11269               Islington          Other Theft     201010    494
7238                  Croydon          Other Theft     201008    492
6612                Southwark          Other Theft     201007    489
1715              Westminster          Shoplifting     201004    480
10342             Westminster    Theft from Person     201009    478
1717              Westminster    Theft from Person     201004    477
1704              Westminster  Possession of Drugs     201004    473
4887                Southwark          Other Theft     201006    471
8615              Westminster          Shoplifting     201008    469
5513                  Croydon          Other Theft     201007    465
4527                  Lambeth          Other Theft     201006    463
10062               Southwark          Other Theft     201009    463

In [24]:
profile = ProfileReport(long_df_all, title="Profiling Report")
profile.to_file("your_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]