In [2]:
import pandas as pd

# Combining MPS crime dataset with new Features

In [18]:
crime_df = pd.read_csv('../data/MPS_agg_features/london_borough_crime.csv')
population_df = pd.read_csv('../data/MPS/population_area.csv')
attractions_df = pd.read_csv('../data/MPS/london_tourist_attractions.csv')

In [19]:
crime_df

,TimePeriod,BoroughName,CrimeType,CrimeSubtype,Value,Year,Month,YearlyTrend_Value
0,2010-04-01,Barking and Dagenham,Arson and Criminal Damage,Arson,6,2010,4,5.785714
1,2010-04-01,Barking and Dagenham,Arson and Criminal Damage,Criminal Damage,208,2010,4,130.642857
2,2010-04-01,Barking and Dagenham,Burglary,Burglary Business and Community,49,2010,4,37.500000
3,2010-04-01,Barking and Dagenham,Burglary,Domestic Burglary,118,2010,4,93.500000
4,2010-04-01,Barking and Dagenham,Drug Offences,Drug Trafficking,9,2010,4,8.928571
...,...,...,...,...,...,...,...,...
271619,2023-11-01,Westminster,Vehicle Offences,Theft from a Motor Vehicle,297,2023,11,242.214286
271620,2023-11-01,Westminster,Vehicle Offences,Theft or Taking of a Motor Vehicle,39,2023,11,58.571429
271621,2023-11-01,Westminster,Violence Against the Person,Homicide,0,2023,11,0.214286
271622,2023-11-01,Westminster,Violence Against the Person,Violence with Injury,397,2023,11,293.142857
271623,2023-11-01,Westminster,Violence Against the Person,Violence without Injury,716,2023,11,471.071429

In [9]:
population_df

        Date                  Area  Area (sq km)  Population
0    2010-03  Barking and Dagenham            36      177400
1    2010-03                Barnet            87      340300
2    2010-03                Bexley            61      227500
3    2010-03                 Brent            43      295300
4    2010-03               Bromley           150      303800
..       ...                   ...           ...         ...
443  2023-03                Sutton            44      210700
444  2023-03         Tower Hamlets            20      331000
445  2023-03        Waltham Forest            39      282400
446  2023-03            Wandsworth            34      324800
447  2023-03           Westminster            21      231600

[448 rows x 4 columns]

In [20]:
updated_crime_df = crime_df.merge(attractions_df, left_on='BoroughName', right_on='Borough', how='left')
updated_crime_df.drop('Borough', axis=1, inplace=True)

In [21]:
updated_crime_df

,TimePeriod,BoroughName,CrimeType,CrimeSubtype,Value,Year,Month,YearlyTrend_Value,Number of attractions
0,2010-04-01,Barking and Dagenham,Arson and Criminal Damage,Arson,6,2010,4,5.785714,5
1,2010-04-01,Barking and Dagenham,Arson and Criminal Damage,Criminal Damage,208,2010,4,130.642857,5
2,2010-04-01,Barking and Dagenham,Burglary,Burglary Business and Community,49,2010,4,37.500000,5
3,2010-04-01,Barking and Dagenham,Burglary,Domestic Burglary,118,2010,4,93.500000,5
4,2010-04-01,Barking and Dagenham,Drug Offences,Drug Trafficking,9,2010,4,8.928571,5
...,...,...,...,...,...,...,...,...,...
271619,2023-11-01,Westminster,Vehicle Offences,Theft from a Motor Vehicle,297,2023,11,242.214286,90
271620,2023-11-01,Westminster,Vehicle Offences,Theft or Taking of a Motor Vehicle,39,2023,11,58.571429,90
271621,2023-11-01,Westminster,Violence Against the Person,Homicide,0,2023,11,0.214286,90
271622,2023-11-01,Westminster,Violence Against the Person,Violence with Injury,397,2023,11,293.142857,90
271623,2023-11-01,Westminster,Violence Against the Person,Violence without Injury,716,2023,11,471.071429,90